# UI
streamlit==1.35.0

# Documentos
PyPDF2==3.0.1
pdfplumber==0.11.0

# Embeddings locales
sentence-transformers==3.0.1

# Vector DB
chromadb==0.5.3

# LLM
google-generativeai==0.7.2

# Utilidades
python-dotenv==1.0.1